.header {
  height: 855.05px;
  width: 100%;
  background-color: #000000;
  color: white;

  .header-container {
    padding-top: 281px;
    display: flex;
    justify-content: center;
    position: relative;
    // grid-template-columns: 1fr 1fr;

    .header-info {
      //   width: calc(1294px - 563.49px);
      //   margin-left: 304px;
      text-align: center;
      .header-text {
        font-family: "Roc Grotesk 800";
        color: #fff;
        font-size: 100px;
        font-style: normal;
        line-height: 105px;
        letter-spacing: 3px;
      }
      .header-button {
        margin-top: 66px;
      }
    }
    .header-photo {
      position: absolute;
      top: 190px;
      right: 603px;
      img {
        width: 162px;
      }
    }
  }
}

// MacBook Pro 16
@media (max-width: 1728px) {
  .header {
    height: 770px;

    .header-container {
      padding-top: 215.39px;

      .header-info {
        .header-text {
          font-size: 109px;
          line-height: 115px; /* 105.505% */
          letter-spacing: 3.27px;
        }
        .header-button {
          margin-top: 72.38px;
        }
      }
      .header-photo {
        top: 112.6px;
        right: 470px;
        img {
          width: 181px;
          height: 181px;
        }
      }
    }
  }
}

// MacBook Pro 14
@media (max-width: 1512px) {
  .header {
    height: 672.96px;

    .header-container {
      padding-top: 197.88px;

      .header-info {
        .header-text {
          font-size: 96.122px;
          line-height: 100.928px; /* 105% */
          letter-spacing: 2.884px;
        }
        .header-button {
          margin-top: 57px;
        }
      }
      .header-photo {
        top: 109.41px;
        right: 422px;
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }
}

// Desktop
@media (max-width: 1440px) {
  .header {
    height: 640px;

    .header-container {
      padding-top: 189.31px;

      .header-info {
        .header-text {
          font-size: 90px;
          line-height: 96.122px; /* 106.802% */
          letter-spacing: 2.7px;
        }
        .header-button {
          margin-top: 54.23px;
        }
      }
      .header-photo {
        top: 106;
        right: 398px;
        img {
          width: 149px;
          height: 149px;
        }
      }
    }
  }
}

// MacBook Pro air
@media (max-width: 1280px) {
  .header {
    height: 570px;

    .header-container {
      padding-top: 168.39px;

      .header-info {
        .header-text {
          font-size: 81.373px;
          line-height: 85.442px; /* 105% */
          letter-spacing: 2.441px;
        }
        .header-button {
          margin-top: 48.2px;
        }
      }
      .header-photo {
        top: 93.34px;
        right: 350px;
        img {
          width: 132px;
          height: 132px;
        }
      }
    }
  }
}

// IPad Pro 12.9
@media (max-width: 1024px) {
  .header {
    height: 648px;

    .header-container {
      padding-top: 203px;

      .header-info {
        .header-text {
          font-size: 71px;
          line-height: 75.115px; /* 105.796% */
          letter-spacing: 2.13px;
        }
        .header-button {
          margin-top: 42.37px;
        }
      }
      .header-photo {
        top: 138px;
        right: 258px;
        img {
          width: 116px;
          height: 116px;
        }
      }
    }
  }
}

// IPad Pro 11
@media (max-width: 834px) {
  .header {
    height: 817px;
    .header-container {
      padding-top: 240.8px;

      .header-info {
        .header-text {
          font-size: 78px;
          line-height: 78.797px; /* 101.021% */
          letter-spacing: 2.34px;
        }
        .header-button {
          margin-top: 79px;
        }
      }
      .header-photo {
        top: 148px;
        right: 123px;
        img {
          width: 148px;
          height: 148px;
        }
      }
    }
  }
}

// Iphone 14 Pro Max
@media (max-width: 430px) {
  .header {
    height: 548px;

    .header-container {
      padding-top: 171px;
      .header-info {
        .header-text {
          font-size: 45px;
          line-height: 50px; /* 111.111% */
          letter-spacing: 1.35px;
        }
        .header-button {
          margin-top: 26px;
        }
      }
      .header-photo {
        top: 461px;
        right: 93px;
        img {
          width: 130px;
          height: 130px;
        }
      }
    }
  }
}

// Iphone 14
@media (max-width: 390px) {
  .header {
    .header-container {
      .header-photo {
        right: 54px;
      }
    }
  }
}

// Android Large
@media (max-width: 360px) {
  .header {
    .header-container {
      .header-photo {
        right: 22px;
      }
    }
  }
}
